body {
    margin: 0;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    position: absolute;
}

#start {
    z-index: 10;
    background: #ff0066;
    color: white;
    padding: 16px 28px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    transition: 0.3s;
}

#start:hover {
    transform: scale(1.1);
}
