body {
    margin: 0;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    position: absolute;
}

#start {
    z-index: 10;
    padding: 15px 30px;
    font-size: 22px;
    border: none;
    background: #ff4fa3;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    transition: .3s;
}

#start:hover {
    transform: scale(1.1);
}
